/* PERSONALIZACION BARRA NAVEGACION */

.navbar {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    color: #000;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 16px;
}

.optmenu { 
    font-size: 16px;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: bold;
    transition: all 1s solid;
    transition: font-size 0.5s ease-in-out;
}

.optmenu:hover {
    color: #fff;
    font-size: 18px;
    transition: all 1s solid;
    border-radius: 8px;
    transition: font-size 0.5s ease-in-out;
}

.optmenu:active {
    background-color: rgb(47, 93, 193);
    color: white;
}

.menu{
    font-family: "Lora", serif;
}


/* PERSONALIZACION MENU HAMBURGUESA */


.navbar-toggler {
    background-color: #f5f7f9;

}

.navbar-toggler:hover {
    background-color: rgb(38, 77, 159);
    color: white;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

/*3 lineas horizontales */

/*http: //hex2rgba.devoth.com  colores rgba*/

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}         

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Header, footer y body*/

p {
    font-family: "Lora", serif;
}

#h{
    font-family: "Lora", serif;
}


.header{
    position: top;
    height: 290px;
    background-color: rgba(136, 136, 136, 0.242);
    clip-path: ellipse(90% 70% at 50% 0%);
    shape-outside: ellipse(90% 70% at 0% 50%);
    shape-margin: 2em;
}

.footer{
    padding: 50px;
    background-color: rgba(136, 136, 136, 0.499);
    clip-path: ellipse(90% 70% at 50% 100%) /* Elipse invertida */;
    shape-outside: ellipse(90% 70% at 50% 0%) /* Elipse normal */;
    shape-margin: 2em;
    float: left;
}

.btnfoot{
    margin-top: 50px;
    cursor: pointer;
}


i{
    color: white;
    font-size: 30px;
}

.body{
    background-color: rgb(255, 255, 255);
}

/*Scroltop*/

.goto-top {
    position: fixed;
    bottom: 110px;
    right: 20px;
    width: 60px;
    height: 30px;
}

.scroll{
    background-color: black;
    color: black;
    height: 300px;
    width: 100px;
}


body, html {
    height: 100%;
}


.banner1{
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    background-position: center;
    background-image: url('../imagenes/hall.jpg');
    background-blend-mode: screen;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.456);
}

.disponibles{
    font-family: "Lora", serif;
    font-size: 50px;
}

.descubre{
    font-family: "Lora", serif;
    font-size: 50px;
}

.exposicion{
    font-family: "Lora", serif;
    font-weight: light;
}



.asegura{
    margin-top: 80px;
    font-family: "Lora", serif;
}

.correo{
    background-color: #d7d1d15f;
    width: 400px;
    padding: 9px;
    border: 1px black;
    outline: none;
    border-radius: 2px;
    font-family: "Lora", serif;
}

::placeholder{
    font-family: "Lora", serif;
}

.inputbtn[type="button"] {
    font-family: "Lora", serif;
    padding: 8px 25px;
    cursor: pointer;
    outline: none;
    background-color: #050505;
    color: #fefefe;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px solid;
}

.inputbtn:hover{
    background-color: rgb(100, 89, 76);
    border: none;
}

.alertaRoja{
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding-top: 22px;
}
.alertaVerde{
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding-top: 22px;
}


.ws{
        /*color de fondo imagen*/   
        position: fixed;
        z-index: 1000;
        border-radius: 50%;
        bottom: 67px;
        right: 0px;
        padding: 25px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
        margin-right: 50px;
}


.uil-phone {
    font-size: 24px; 
    margin-right: 8px; 
}

.iconoph{
    margin-bottom: 22px;
    color: rgb(7, 7, 7);
}

.iconoem{
    margin-bottom: 22px;
    letter-spacing: 8px;
    color: rgb(7, 7, 7);
}

.correo{
    color: rgb(1, 1, 1);
    font-family: "Lora", serif;
    font-size: 22px;
}


.redes{
    align-items: start;
}

.audio{
    margin-left: 20px;
    width: 800px;
}

/*--------TRANSICION-------------*/

.box{
    /*posición de la caja que debe respetarse */
    position: relative;
}

.efecto{
    position: absolute;
    top: 15px;
    left: 2px;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.249);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .3s ease;
}

.box:hover .efecto{
    transform: scale(1);
}

/*--------CSS WOW-------*/

.bestsellersan{
    margin-top: 25%;
    font-size: 40px;
    font-family: "Lora", serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

::placeholder{
    font-family: "Lora", serif;
}

.inputbtn[type="button"] {
    font-family: "Lora", serif;
    padding: 8px 25px;
    cursor: pointer;
    outline: none;
    background-color: #050505;
    color: #fefefe;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px solid;
}

.inputbtn:hover{
    background-color: rgb(100, 89, 76);
    border: none;
}

.alertaRoja{
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding-top: 22px;
}
.alertaVerde{
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding-top: 22px;
}

/*formulario*/

label {
    color: #000;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    float: left;
    font-family: "Lora", serif;
}


/* Para agregar un borde cuando se activan los campos */


/* Propiedades de los campos */


textarea {
    cursor: pointer;
    background-color: #ebe9e9 !important;
}


/* Propiedades de los botones */

.enviar {
    width: 170px;
    height: 60px;
    color: #fff;
    margin: 0 auto;
    font-size: 26px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    border-width: 2px;
    border-color: #e7cdf5;
    background-color: rgb(9, 9, 9) !important;
}

.borrar {
    color: #fff;
    width: 170px;
    height: 60px;
    margin: 0 auto;
    font-size: 26px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    border-width: 2px;
    border-color: #e7cdf5;
    background-color: brown !important;
}


/* validacion campo TextArea */

textarea {
    resize: none;
    /*
height:150px;
max-height:150px;
min-height:150px;
max-width:auto;
min-width:400px;*/
}

.dudas{
    font-family: "Lora", serif;
    font-size: 30px;
}
