/* PERSONALIZACION BARRA NAVEGACION */

.navbar {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.optmenu { 
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 1s solid;
}

.optmenu:hover {
    color: #fff;
    background-color: rgba(91, 135, 232, 0.708);
    transition: all 1s solid;
    border-radius: 8px;
}

.optmenu:active {
    background-color: rgb(47, 93, 193);
    color: white;
}

.menu{
    font-family: 'Libre Baskerville', serif;
}


/* PERSONALIZACION MENU HAMBURGUESA */


.navbar-toggler {
    background-color: #f5f7f9;

}

.navbar-toggler:hover {
    background-color: rgb(38, 77, 159);
    color: white;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

/*3 lineas horizontales */

/*http: //hex2rgba.devoth.com  colores rgba*/

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}         

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Header, footer y body*/

.iniciobtn{
    background-color: rgb(38, 77, 159);
}

.header{
    position: top;
    background-color: rgb(38, 77, 159);
}

.footer{
    padding: 10px;
    background-color: rgba(5, 98, 211, 0.873);
    float: left;
}

.examen{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

i{
    color: white;
    font-size: 30px;
}

.body{
    background-color: rgb(243, 243, 243);
}

/*Scroltop*/

.goto-top {
    position: fixed;
    bottom: 110px;
    right: 20px;
    width: 60px;
    height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.banner-slider{
    filter: brightness(75%);
    background-attachment: fixed;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.54);
}


.slider-frame {
    width: 100%; 
    max-width: 100%;
    height: 700px;
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite;
}

.slider-frame li {
    list-style: none;
    width: 25%; /* Cambiado para que haya 4 elementos visibles al mismo tiempo */
}

.slider-frame img {
    width: 100%;
    height: auto;
}

@keyframes slide{
    0% {margin-left: 0%;}
    20%{margin-left: 0%;}

    25% {margin-left: -100%;}
    45%{margin-left: -100%;}

    50% {margin-left: -200%;}
    70%{margin-left: -200%;}

    75% {margin-left: -300%;}
    95%{margin-left: -300%;}
}

.menuizq{
    position: top;
    background-color: rgb(243, 243, 243);
    justify-content: right;
    justify-items: end;

}

.banner1{
    display: flex;
    margin-top: 55px;
    background-color: white;
}




.logo{
    width: 10px;
    align-items: start;
}

.logoder{
    align-items: start;
}


.logoshead{
    width: 60px;
    margin-left: 450px;
}

.ncte{
    width: 45px;
}

.logoshead2{
    width: 90px;
    margin-left: 5px;
}

.vercard {
    margin-left: 10px;
    font-size: 12px;
    border: none;
    width: 150px;
    height: 32px;
    font-size: 20px;
    background-color: rgba(28, 108, 194, 0.699);
    color: white;
    border-radius: 13px;
    text-decoration: none;
}

.opciones {
    background-color: rgb(0, 123, 255);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 32px;
    font-size: 16px;
}

.opciones:hover {
    background-color: rgb(4, 64, 127);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 32px;
    font-size: 16px;
}

.empezar {
    border: none;
    width: 90px;
    height: 34px;
    font-size: 15px;
    background-color: red;
    color: white;
    border-radius: 18px;
    text-decoration: none;
    margin-left: 15px;
}


.fondo{
    background-color: rgba(212, 211, 211, 0.192);
    background-blend-mode: screen;
}




.buscanos{
    margin-top: 25%;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.contact-info {
    display: flex;
    flex-direction: column;
}

.info-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Ajusta según sea necesario para la separación entre grupos */
}

.uil-phone {
    font-size: 24px; 
    margin-right: 8px; 
}

.iconoph{
    margin-bottom: 22px;
    color: rgb(18, 95, 220);
}

.iconoem{
    margin-bottom: 22px;
    letter-spacing: 8px;
    color: rgb(18, 95, 220);
}


.sin-margin {
    margin: 0;
    padding: 0;
}

.fotosin{
    height: 50%;
    background-blend-mode: screen;
    box-shadow: inset;
}

.programas{
    color: rgb(18, 95, 220);
    margin-top: 50px;
    font-size: 60px;
}

.programas2{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
}

.listo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.program{
    color: rgb(18, 95, 220);

}

.contactanos{
    font-size: 110px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(162, 162, 162);
}

.contacto{

    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(162, 162, 162);
}


.correo{
    color: rgb(2, 130, 227);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
}

.planes{
    margin-top: 50px;
    font-size: 110px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
}

.planes:hover{
    margin-top: 50px;
    font-size: 110px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    transition: .7s ease;
    text-shadow: 4px 4px rgba(255, 255, 255, 0.177);
}

.mapa{
    margin-right: 750px;
}





/*--------------------Tarjetas--------------------*/

.containercard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 90%;
    gap: 16px;
    border: none;
}

.content {
    padding: 24px;
    flex-grow: 1;
    height: 260px;
}

.card {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 18px 36px -18px 
    rgba(0, 0, 0, 0.1),
    0px 30px 45px -30px rgba(50,50,93,0.25);
    background-color: white;
    cursor: pointer;
    width: 100%;
    flex-basis: 330px;
    padding: 4px;
    min-height: 500px;
    transition: all 0.2s ease-in-out;
    border: none;
}

.content > h1 {
    font-size: 40px;
    color: rgb(61, 119, 205);
    margin-bottom: 16px;
    line-height: 1.384615385;
    font-family: 'Bebas Neue', sans-serif;
}

.content > p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}


.card-background {
    height: 200px;
    transition: all 0.2s ease-in-out;
    border: none;
}

.card:hover .card-background {
    height: 160px;
}

.card-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .action-bottom-bar a {
    opacity: 1;
}

.action-bottom-bar {
    display: flex;
    font-size: 18px;
    height: 42px;
    width: 100%;
}

.action-bottom-bar a {
    display: flex;
    gap: 6px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 800;
    opacity: 0;
    padding: 0 24px;
    transition: all 0.2s ease-in-out;
}

.action-bottom-bar a:hover {
    color: white;
}

.action-bottom-bar a:hover svg {
    color: white;
}

.action-bottom-bar a svg {
    transition: all 0.2s ease-in-out;
}

.arrow {
    display: none;
}

.action-bottom-bar a:hover .arrow {
    display: block;
}

.action-bottom-bar a:hover .chevron {
    display: none;
}




/*------------Redes--------------*/

:root {
    --background: #2C2C2C;
    --primary-color: rgb(211, 209, 209);
    --secondary-color: #2C2C2C;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
}


.social-media-buttons {
    display: flex;
    gap: 16px;
    list-style: none;
    margin-right: 225px;
}

.social-media-buttons li {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-color);
    place-items: center;
    transition: all 0.3s;
    border: 1px solid var(--primary-color);
}

.social-media-buttons li a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    color: var(--secondary-color);
}

.social-media-buttons li:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.social-media-buttons li a svg {
    height: 24px;
    width: 24px;
    stroke: var(--secondary-color);
    stroke-width: 1.75;
    transition: 0.8s;
}

.social-media-buttons li:hover svg {
    stroke: var(--primary-color);
    transform: rotateY(360deg);
    stroke-width: 1.75;
}

.redes{
    align-items: start;
}